body {
    font-family: 'Roboto', sans-serif;    
    text-decoration: none;
}

.link_1 {
    font-family: 'Roboto', sans-serif;    
    text-decoration: none;
    color: #009EDB;

}

.barra_cor {
    color: #009EDB;
}

.titulo_denuncia{
    color: #009EDB;
    font-family: 'Rhodium libre', sans-serif;
    font-size: 18px ;

}

.informações_denuncia {
    color: #B4B4B4;
    font-family: 'Rhodium libre', sans-serif;
    font-size: 14px ;
}

.imgem_1{
    clip-path: left;
    width: 837px;
    height: 313px;
}

.btn_submit {
    display: flex;
    justify-items: right;
    background-color: #009EDB;   
    width: 6%;
    text-align: center;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 10px 0;
    text-decoration: none;
    color: #FAFEFF;
    font-family: 'Roboto', sans-serif;
}